title: National Council on Disability
short_title: NCD.gov
email: nsabula@ncd.gov
description: >- # this means to ignore newlines until "baseurl:"
  An independent federal agency committed to
  disability policy leadership since 1978
baseurl: ''
logo: true

## Set to true to publish future meetings collection
future: true

url: "https://www.ncd.gov"
# Required to support the jekyll-sitemap plugin below.
# Uncomment the url line when ready to push to production. If using different branches for multiple
# custom domains, edit this url parameter in the relevant branch to match the relevant custom domain.

# Twitter handle. Only the handle, not the URL.
twitter: NCDgov

# Digital Analytics Program (DAP) configuration
dap:
  agency: NCD

# Configuration for Touchpoints
touchpoints:
  url: https://touchpoints.app.cloud.gov/touchpoints/e2d9318c/submit

# Configuration for Google Analytics
ga:
  # ua: your-ua

# Search.gov configuration
#
# 1. Create an account with Search.gov https://search.usa.gov/signup
# 2. Add a new site.
# 3. Add your site/affiliate name here.
searchgov:
  # You should not change this.
  endpoint: https://search.usa.gov

  # replace this with your search.gov account
  affiliate: beta-ncd-gov

  # replace with your access key
  access_key: USZBXrpX_DhoKOg7mmIhpx-xgqveozWwwoPpp1HGBPk=

  # this renders the results within the page instead of sending to user to search.gov
  inline: false

##########################################################################################
# The values below here are more advanced and should only be
# changed if you know what they do
##########################################################################################

collections:
  pages:
    output: true
    permalink: /:path/
  accountability:
    output: true
    permalink: /accountability/:name/
  committees-communities:
    output: true
    permalink: /committee-community/:name/
  letters:
    output: true
    permalink: /letters/:name/
  council-members:
    output: true
    permalink: /council-members/:name/
  meetings:
    output: true
    permalink: /meeting/:name/
  policy-areas:
    output: false
    permalink: /policy-areas/:name/
  publications:
    output: true
    permalink: /publications/:path/
  resources:
    output: true
    permalink: /resources/:path/
  reports:
    output: true
    permalink: /report/:name/

permalink: pretty

############################################################
# Site configuration for the Jekyll 3 Pagination Gem
# The values here represent the defaults if nothing is set
pagination:
  enabled: true
  debug: true
  collection: 'posts'
  per_page: 10
  # The permalink structure for the paginated pages (this can be any level deep)
  permalink: '/page/:num/' # Pages are index.html inside this folder (default)
  #permalink: '/page/:num.html' # Pages are simple html files
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.
  # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  title: ':title - page :num'
  # Limit how many paginated pages to create (default: 0, means all)
  limit: 0
  # Optional, defines the field that the posts should be sorted on (omit to default to 'date')
  sort_field: 'date'
  # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  sort_reverse: true
  # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  category: 'posts'
  # Optional, the default tag to use, omit to disable
  tag: ''
  # Optional, the default locale to use, omit to disable (depends on a field 'locale' to be specified in the posts,
  # in reality this can be any value, suggested are the Microsoft locale-codes (e.g. en_US, en_GB) or simply the ISO-639 language code )
  locale: ''
  # Optional,omit or set both before and after to zero to disable.
  # Controls how the pagination trail for the paginated pages look like.
  trail:
    before: 2
    after: 2

exclude:
  - package.json
  - package-lock.json
  - README.md
  - CONTRIBUTING.md
  - LICENSE.md
  - degit.json
  - vendor
  - node_modules
  - Gemfile
  - Gemfile.lock

autoprefixer:
  browsers:
    - "> 2%"
    - "last 2 versions"
    - "IE 11"
    - "not dead"

sass:
  source_dir: _sass
  load_paths:
    - node_modules/uswds/dist/
  sourcemap: development
  quiet_deps: true
  style: compressed
  verbose: true