title: National Council on Disability
description: Due to the FY 2026 lapse in funding, this site is temporarily unavailable.
baseurl: ""
url: ""

plugins:
  - jekyll-feed
  - jekyll-postcss

sass:
  load_paths:
    - node_modules/uswds/dist/scss
  sourcemap: never
  style: compressed

exclude:
  - package-lock.json
  - package.json
  - node_modules
  - postcss.config.js
