<aside
  class="
    desktop:grid-col-fill
    desktop:padding-0
  "
>
  <div
    class="
      padding-y-4
      desktop:padding-y-0
    "
  >
    <h4
      class="
        border-bottom-05
        border-primary
        font-sans-md
        margin-0
        padding-y-1
        text-base-dark
        text-semibold
      "
      >
      {{ include.title }}
    </h4>
    <div class="
      border-1px
      border-gray-10
      padding-2
      usa-list
      usa-list--unstyled
    "
    >
      <p class="font-serif-sm line-height-serif-3">
        {{ include.statement }}
      </p>
    </div>
  </div>
</aside>
