
<div class="padding-top-4">
  <h2 id="{{ include.item.title | slugify }}">{{ include.item.title }}</h2>
  <ul>
    {% for file in include.item.report_files %}
    <li>
      <div>
        <div class="display-flex flex-row flex-align-center text-light">
          Download
          <a class="display-flex flex-row flex-align-center margin-left-1 text-no-underline" href="{{ file }}" download>
            <span class="text-bold padding-0 margin-0">{{ include.document_type }}</span>
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{site.baseurl}}/assets/uswds/img/sprite.svg#file_download"></use>
            </svg>
            <span class="font-mono-3xs text-italic padding-x-05 margin-0">
              {{ file | split: '/' | last }}
            </span>
          </a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% if include.item.content and include.item.content != nil %}
  {{ include.item.content }}
{% endif %}
