<div>
  <div class="display-flex flex-row flex-align-center text-light">
    Download
    <a class="display-flex flex-row flex-align-center margin-left-1 text-no-underline"
      href="{{site.baseurl}}/assets/uploads/{{include.file_path}}" download>
      <span class="text-bold padding-0 margin-0">{{ include.document_type }}</span>
      <svg class="usa-icon" aria-hidden="true" role="img">
        <use xlink:href="{{site.baseurl}}/assets/uswds/img/sprite.svg#file_download"></use>
      </svg>
      {% if include.doc_name and include.doc_name != nil and include.doc_name != '' %}
        <span class="font-mono-3xs text-italic padding-x-05 margin-0">{{ include.doc_name | split: '/' | last }}</span>
      {% endif %}
    </a>
  </div>
</div>
