<section class="border-y border-base-lighter padding-y-9">
  <div class="grid-container usa-section padding-y-2">
    <h1 class="section-heading">
      Featured
    </h1>
  </div>
  <div class="grid-container overflow-x-scroll">
    <div  >
      <ul class="usa-card-group">
        {% for featured in site.data.featured %}
          {% assign collection_name = featured[0] %}
          {% assign collection_value = featured[1] %}
          {% assign collection = site[collection_name] %}

          {% for value in collection_value %}
            {% for item in collection %}
              {% if item.title == value.featured %}
                <li class="tablet:grid-col-6 usa-card usa-card--flag">
                  <a
                    class="
                      usa-link
                      hover:text-primary-dark
                      text-no-underline
                      font-sans-lg
                    "
                    href="{{ site.baseurl }}{{ item.url }}"
                  >
                    <div class="usa-card__container">
                      <header class="usa-card__header">
                        <p>
                          <span class="usa-tag">
                            {% if collection_name == 'posts' %}
                              Newsposts
                            {% else %}
                              {{ collection_name }}
                            {% endif %}
                          </span>
                        </p>
                      </header>
                      <div class="usa-card__media flex-align-center">
                        <div class="display-flex flex-column flex-align-center height-full">
                          {% if item.thumbnail %}
                            {% asset "{{ item.thumbnail }}"
                              alt="{{ item.image_alt_text }}"
                              role="image"
                              style="height: 100%; width: auto; object-fit: cover;"
                            %}
                          {% elsif item.image %}
                            {% asset "{{ item.image }}"
                              alt="{{ item.image_alt_text }}"
                              role="image"
                              style="height: 100%; width: auto; object-fit: cover;"
                            %}
                          {% else %}
                            {% asset "{{ collection_name }}.png"
                              alt="Image of {{ collection_name }}"
                              role="image"
                              style="height: 100%; width: auto; object-fit: cover;"
                            %}
                          {% endif %}
                        </div>
                      </div>

                      <div class="usa-card__body">
                        <p>{{ item.title }}</p>
                      </div>
                    </div>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
