<section class="bg-base-darkest text-white padding-y-2">
  <div class="grid-container padding-y-9">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-8">
        <h2 class="font-sans-2xl text-accent-warm margin-top-0">
          Help us improve NCD.gov
        </h2>
        <p class="font-sans-lg text-italic margin-top-0">
          We are working to make NCD.gov more user friendly
          so let us know how we are doing.
        </p>
        <a
          href="{{ site.baseurl }}/feedback"
          class="usa-button usa-button--big usa-button--accent-warm"
        >
          Share feedback
        </a>
      </div>
    </div>
  </div>
</section>
