<div>
  <h3>{{ include.title }}</h3>
  <ul>
    {% for post in include.items %}
    <li>
      {{ post.title }}
      {% for file in post.report_files %}
      <div>
        <div class="display-flex flex-row flex-align-center text-light">
          Download
          <a class="display-flex flex-row flex-align-center margin-left-1 text-no-underline"
            href="{{ file }}" download>
            <span class="text-bold padding-0 margin-0">{{ include.document_type }}</span>
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="{{site.baseurl}}/assets/uswds/img/sprite.svg#file_download"></use>
            </svg>
            <span class="font-mono-3xs text-italic padding-x-05 margin-0">
              {{ file | split: '/' | last }}
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</div>
