<div class="display-flex flex-row flex-align-end desktop:flex-justify-end padding-bottom-2">
  <div class="grid-col-auto margin-right-1">
      <p alt="Font Size Normal Button" class="margin-0">Font Size:</p>
  </div>
  <div class="grid-col-auto margin-right-1">
    <button id="font-100-button" class="text-no-underline usa-button usa-button--unstyled display-flex flex-column flex-align-center">
      <p alt="Font Size Normal Button" class="font-mono-lg margin-0 text-no-underline">A</p>
      <span class="display-none">Font Size Normal</span>
    </button>
  </div>
  <div class="grid-col-auto">
    <button id="font-120-button" class="text-no-underline usa-button usa-button--unstyled display-flex flex-column flex-align-center">
      <p alt="Font Size Normal Button" class="font-mono-xl margin-0">A</p>
      <span class="display-none">Font Size Large</span>
    </button>
  </div>
</div>
