<footer class="usa-footer site-footer" role="contentinfo">
  <div
    class="usa-footer__secondary-section footer-section-bottom bg-accent-warm-lightest"
  >
    <div class="grid-container">
      <div class="grid-row grid-gap padding-top-6 padding-bottom-4">
        <div class="tablet:grid-col-3">
          <div class="usa-footer grid-row margin-bottom-1">
            <div class="grid-col-auto margin-right-2">
              <a
                href="https://x.com/{{ site.x }}"
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="twitter logo"
                  class="height-3 width-auto"
                  src="{{site.baseurl}}/assets/images/x-logo-black.svg"
                />
                <span class="display-none">Twitter</span>
              </a>
            </div>
            <div class="grid-col-auto margin-right-2">
              <a
                href="https://www.instagram.com/NCDgov/"
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="instagram logo"
                  class="height-3 width-auto"
                  src="{{site.baseurl}}/assets/images/instagram.svg"
                />
                <span class="display-none">Instagram</span>
              </a>
            </div>
            <div class="grid-col-auto margin-right-2">
              <a
                href="https://www.linkedin.com/company/ncdgov"
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="linkedin logo"
                  class="height-3 width-auto"
                  src="{{site.baseurl}}/assets/images/ln.svg"
                />
                <span class="display-none">LinkedIn</span>
              </a>
            </div>
            <div class="grid-col-auto margin-right-2">
              <a
                href="https://www.facebook.com/NCDgov/"
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="facebook logo"
                  class="height-3 width-auto"
                  src="{{site.baseurl}}/assets/images/facebook.svg"
                />
                <span class="display-none">Facebook</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                href="https://www.youtube.com/user/NCDgov"
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="youtube logo"
                  class="height-3 width-auto"
                  src="{{site.baseurl}}/assets/images/Youtube.svg"
                />
                <span class="display-none">Youtube</span>
              </a>
            </div>
          </div>

          <div class="margin-bottom-1">
            <span class="text-semibold">National Council on Disability</span
            ><br />
            1331 F Street, NW, Suite 850<br />
            Washington, DC 20004
          </div>
          <div>
            <h3 class="margin-bottom-0">Phone</h3>
            202-272-2004 (voice)<br />
            202-272-2022 (fax)
          </div>
        </div>
        <div class="tablet:grid-col-3">
          <h4 class="tablet:margin-top-0 margin-bottom-1">
            {{ site.data.footer_links.budget.name }}
          </h4>
          <ul class="add-list-reset">
            {% for item in site.data.footer_links.budget.children %}
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}{{item.url}}"
              >
                {{ item.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tablet:grid-col-3">
          <h4 class="tablet:margin-top-0 margin-bottom-1">
            {{ site.data.footer_links.resources.name }}
          </h4>
          <ul class="add-list-reset">
            {% for item in site.data.footer_links.resources.children %}
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}{{item.url}}"
              >
                {{ item.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="tablet:grid-col-3">
          <h4 class="tablet:margin-top-0 margin-bottom-1">
            {{ site.data.footer_links.governance.name }}
          </h4>
          <ul class="add-list-reset">
            {% for item in site.data.footer_links.governance.children %}
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}{{item.url}}"
              >
                {{ item.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="usa-identifier bg-primary-darker">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="{{ site.baseurl }}" class="usa-identifier__logo">
          <img
            src="{{site.baseurl}}/assets/images/ncd-logo.png"
            alt="NCD Logo"
            class="usa-identifier__logo-img"
          />
        </a>
      </div>
      <div
        class="usa-identifier__identity text-base-lightest"
        aria-label="Agency description"
      >
        <p class="usa-identifier__identity-domain">NCD.gov</p>
        <p class="usa-identifier__identity-disclaimer text-base-lightest">
          An official website of the
          <a href="{{ site.baseurl }}"> National Council on Disability </a>
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links,"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a
            href="{{ site.baseurl }}/accessibility/"
            class="usa-identifier__required-link usa-link"
            >Accessibility statement</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="{{ site.baseurl }}/foia/"
            class="usa-identifier__required-link usa-link"
            >FOIA requests</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="{{ site.baseurl }}/accountability/no-fear-act/"
            class="usa-identifier__required-link usa-link"
            >No FEAR Act data</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="{{ site.baseurl }}/accountability/vulnerability-disclosure-policy/"
            class="usa-identifier__required-link usa-link"
            >Vulnerability Disclosure Policy</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>
