<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-accent-warm-lightest">
    <div class="grid-container">
      <div class="grid-row grid-gap padding-y-4">
        <div class="tablet:grid-col-3">
          <h4>Budget and Performance</h4>
          <ul class="add-list-reset">
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/congressional-budget-justification-reports/"
              >
                Congressional Budget Justification
              </a
              >
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/financial-audit-reports/"
              >
                Financial Audits
              </a>
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/buy-american-act-reports/"
              >
                Buy American Act
              </a>
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/government-performance-and-results-act-reports/"
              >
                Government Performance and Results Act
              </a>
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/ncd-annual-employee-survey/"
              >
                NCD Annual Employee Survey
              </a>
            </li>
          </ul>
        </div>
        <div class="tablet:grid-col-3">
          <h4>Agency Governance</h4>
          <ul class="add-list-reset">
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/ncd-bylaws/"
                >Bylaws</a
              >
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/ncd-strategic-plan/"
                >Strategic Plan</a
              >                           
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/about/authorizing-statute/"
                >Authorizing Statute</a
              >
            </li>
          </ul>
        </div>
        <div class="tablet:grid-col-3">
          <h4>Resources</h4>
          <ul class="add-list-reset">
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/newsroom/"
                >News</a
              >
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/covid-19/"
                >COVID 19</a
              >
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/foia/"
                >FOIA</a
              >
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/contact/"
                >Get in touch</a
              >
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/about/"
                >Press</a
              >
            </li>
          </ul>
        </div>
        <div class="tablet:grid-col-3">
          <h4>Policies / Statements</h4>
          <ul class="add-list-reset">
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/no-fear-act/"
                >NO FEAR</a
              >
            </li>
            <li>
              <a
                class="usa-footer__secondary-link"
                href="{{ site.baseurl }}/accountability/vulnerability-disclosure-policy/"
              >
                Vulnerability Disclosure Policy
              </a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section bg-primary-darker padding-bottom-0">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__contact-links mobile-lg:grid-col-12">
          <div class="usa-footer grid-row">
            <div class="grid-col-auto margin-right-2">
              <a
                href="https://twitter.com/NatCounDis"
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="twitter logo"
                  class="height-3 width-auto"
                  src="{% asset twitter.svg @path %}"
                  style="filter: brightness(0) invert(1);"
                />
                <span class="display-none">Twitter</span>
              </a>
            </div>
            <div class="grid-col-auto margin-right-2">
              <a
                href="https://www.instagram.com/NCDgov/"
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="instagram logo"
                  class="height-3 width-auto"
                  src="{% asset instagram.svg @path %}"
                  style="filter: brightness(0) invert(1);"
                />
                <span class="display-none">Instagram</span>
              </a>
            </div>
            <div class="grid-col-auto">
              <a
                href="https://www.facebook.com/NCDgov/"
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="facebook logo"
                  class="height-3 width-auto"
                  src="{% asset facebook.svg @path %}"
                  style="filter: brightness(0) invert(1);"
                />
                <span class="display-none">Facebook</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="usa-identifier bg-primary-darker">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="https://www.ncd.gov/" class="usa-identifier__logo">
          {% asset ncd-logo.png alt="NCD Logo" class="usa-identifier__logo-img"
          role="image" %}
        </a>
      </div>
      <div
        class="usa-identifier__identity text-base-lightest"
        aria-label="Agency description"
      >
        <p class="usa-identifier__identity-domain">NCD.gov</p>
        <p class="usa-identifier__identity-disclaimer text-base-lightest">
          An official website of the
          <a href="{{ site.baseurl }}"> National Council on Disability </a>
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a
            class="usa-identifier__required-link usa-link"
            href="{{ site.baseurl }}/contact/"
            title="Report fraud, waste, or abuse to the Office of the Inspector General"
          >
            Report fraud, waste, or abuse to the Office of the Inspector General
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            class="usa-identifier__required-link usa-link"
            href="{{ site.baseurl }}/foia/"
            title="Submit a Freedom of Information Act (FOIA) request"
          >
            Submit a Freedom of Information Act (FOIA) request
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            class="usa-identifier__required-link usa-link"
            href="{{ site.baseurl }}/accountability/congressional-budget-justification-reports/"
            title="View budget and performance reports"
          >
            View budget and performance reports
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            class="usa-identifier__required-link usa-link"
            href="{{ site.baseurl }}/accessibility/"
            title="View accessibility statement"
          >
            View accessibility statement
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            class="usa-identifier__required-link usa-link"
            href="{{ site.baseurl }}/accountability/no-fear-act/"
            title="View No FEAR Act data"
          >
            View No FEAR Act data
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
