{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">NCD:</span>Bring attention to a project priority
      </h2>
      <p>An independent federal agency advising the President, Congress and federal agencies on disability policy.</p>
      <a class="usa-button" href="javascript:void(0)">Call to action</a>
    </div>
  </div>
</section>
