{% comment %}
Use this section to highlight key elements of your site. Some sites will only have two while others may have six to
eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset img/circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Meet the Council</h3>
          <p>NCD is comprised of a team of Presidential and Congressional appointees, <br/>
          an Executive Director appointed by the Chair, and a full-time professional staff.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset img/circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Our History</h3>
          <p>NCD has an important role in the history of civil rights for Americans with disabilities.</p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% asset img/circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">NCD's Reports</h3>
          <p>Browse NCD's four decades of reports providing recommendations to policymakers.</p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% asset img/circle-124.png class="usa-media-block__img" alt="Alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Council Meetings</h3>
          <p>NCD meets quarterly as a Council to conduct official business</p>
        </div>
      </div>
    </div>
  </div>
</section>
