{% assign siteurl = site.url %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  {% if site.branch == "main" %}
    <meta name="robots" content="index, follow">
  {% else %}
    <meta name="robots" content="noindex, nofollow" />
  {% endif %}
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Title and meta description
    ================================================== -->

  <!-- Creator -->
  <meta name="twitter:creator" content="@NatCounDis">
  <!-- Title -->
  {% if page.title %}
    <title>{{ site.title }} | {{ page.title }}</title>
    <meta property="title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}" />
    <meta property="og:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}" />
    <meta name="twitter:title" content="{{ site.title | xml_escape }} | {{ page.title | xml_escape }}">
  {% else %}
    <title>{{ site.title }} | {{ site.description }}</title>
    <meta property="title" content="{{ site.title | xml_escape }} | {{ site.title | xml_escape }}" />
    <meta property="og:title" content="{{ site.title | xml_escape }} | {{ site.title | xml_escape }}" />
    <meta property="twitter:title" content="{{ site.title | xml_escape }} | {{ site.title | xml_escape }}" />
  {% endif %}

    <!-- Twitter Site -->
  <meta name="twitter:site" content="@NatCounDis" />

  <!-- Description -->
  {% if page.excerpt %}
    <meta name="description" content="{{ page.content | strip_html | strip | truncatewords: 50 }}">
    <meta property="og:description" content="{{ page.content | strip_html | strip | truncatewords: 50 }}" />
    <meta property="twitter:description" content="{{ page.content | strip_html | strip | truncatewords: 50 }}" />
  {% else %}
    <meta name="description" content="{{ site.description | strip }}">
    <meta property="og:description" content="{{ site.description | strip }}" />
    <meta property="twitter:description" content="{{ site.description | strip }}" />
  {% endif %}

  <!-- Image -->
  {% if page.image %}
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <link rel="image_src" href="{{ siteurl }}{{ site.baseurl }}/assets/uploads/{{page.image}}" />
    <meta name="image" content="{{ siteurl }}{{ site.baseurl }}/assets/uploads/{{page.image}}" />
    <meta property="og:image" content="{{ siteurl }}{{ site.baseurl }}/assets/uploads/{{page.image}}" />

    <meta name="twitter:image" content="{{ siteurl }}{{ site.baseurl }}/assets/uploads/{{page.image}}">

    {% if page.image_alt_text %}
      <meta name="twitter:image:alt" content="{{page.image_alt_text}}">
    {% endif %}
  {% else %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ siteurl }}{{ site.baseurl }}/assets/images/ncd-logo.png">
    <meta property="og:image" content="{{ siteurl }}{{ site.baseurl }}/assets/images/ncd-logo.png">
  {% endif %}

  <meta property="og:type" content="article" />
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />


  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link
    rel="shortcut icon"
    type="image/ico"
    href="{{ site.baseurl }}/assets/images/ncd-logo.png"
  />
  <link
    rel="icon"
    type="image/png"
    href="{{ site.baseurl }}/assets/images/ncd-logo.png"
  />
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="{{ site.baseurl }}/assets/images/ncd-logo.png"
  />
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link
    rel="apple-touch-icon-precomposed"
    href="{{ site.baseurl }}/assets/images/ncd-logo.png"
  />
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link
    rel="apple-touch-icon-precomposed"
    sizes="72x72"
    href="{{ site.baseurl }}/assets/images/ncd-logo.png"
  />
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link
    rel="apple-touch-icon-precomposed"
    sizes="114x114"
    href="{{ site.baseurl }}/assets/images/ncd-logo.png"
  />
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link
    rel="apple-touch-icon-precomposed"
    sizes="144x144"
    href="{{ site.baseurl }}/assets/images/ncd-logo.png"
  />
  <!-- CSS
    ================================================== -->
  <link type="text/css" href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet" />
  <link type="text/css" href="{{ site.baseurl }}/assets/video-js/video-js.min.css" rel="stylesheet" />
</head>
