<div
  class="padding-bottom-5 margin-top-4 usa-prose border-bottom-05 border-base-lightest"
>
  <div class="grid-row grid-gap">
    <div class="grid-col-3 display-flex flex-row flex-align-center">
      {% if include.post.image %}
      <img
        class="width-full height-auto"
        src="{% asset {{include.post.image}} @path %}"
        alt="{{include.post.image_alt_text}}"
      />
      {% else %}
      <img
        class="width-full height-auto"
        src="{% asset ncd-logo.png @path %}"
        alt="NCD logo"
      />
      {% endif %}
    </div>
    <div class="grid-col-9">
      <h3 class="margin-y-0">
        <a
          class="usa-link text-primary-vivid hover:text-primary-dark text-no-underline font-sans-lg"
          href="{{ site.baseurl }}{{ include.post.url }}"
        >
          {{ include.post.member_name }}
        </a>
      </h3>
      <div class="text-base margin-bottom-2">
      {% if include.post.member_title and include.post.member_title != nil and include.post.member_title != '' %}
        <h4 class="margin-y-0">
          {{ include.post.member_title }}
        </h4>
      {% endif %}
      <p class="margin-y-0 text-italic">
        {{ include.post.location }}
      </p>
    </div>
      <div class="margin-y-2">
        {{ include.post.content | truncatewords: 30 | markdownify }}
      </div>
    </div>
  </div>
</div>
