<div
  class="padding-bottom-5 margin-top-4 usa-prose border-bottom-1px border-base"
>
  <div class="grid-row grid-gap">
    <div class="grid-col-3 display-flex flex-row flex-align-center">
      {% if include.post.thumbnail and include.post.thumbnail != nil and include.post.thumbnail != '' %}
      <div class="padding-bottom-2">
        <img
          class="width-mobile height-auto"
          src="{{ site.baseurl }}/assets/uploads/{{include.post.thumbnail}}"
          alt="{{page.image_alt_text}}"
        />
      </div>
      {% elsif include.post.image %}
      <img
        class="width-full height-auto"
        src="{{ site.baseurl }}/assets/uploads/{{include.post.image}}"
        alt="{{include.post.image_alt_text}}"
      />
      {% else %}
      <img
        class="width-full height-auto"
        src="{{ site.baseurl }}/assets/images/ncd-logo.png"
        alt="NCD logo"
      />
      {% endif %}
    </div>
    <div class="grid-col-9">
      <h3>
        <a
          class="usa-link text-primary-vivid hover:text-primary-dark text-no-underline font-sans-lg"
          href="{{ site.baseurl }}{{ include.post.url }}"
        >
          {{ include.post.title }}
        </a>
      </h3>
      <div class="text-ink margin-bottom-2">
        <div class="margin-top-neg-105">
          {{ include.post.date | date: '%B %d, %Y' }}
        </div>
      </div>
      {% if include.post.categories %}
        {% include pill-links.html
          basepath=""
          bg_color_class="bg-secondary-dark"
          items=include.post.categories
        %}
      {% endif %}
      {% if include.post.tags %}
        {% include pill-links.html
          basepath="/newsroom"
          bg_color_class="bg-green"
          items=include.post.tags
        %}
      {% endif %}
    </div>
  </div>
</div>
