{% assign item_basepath = include.basepath %}
{% assign items = include.items %}
{% assign bg_color_class = include.bg_color_class %}

<div class="grid-row">
  <ul class="usa-list usa-list--unstyled">
  {% for item in items %}
    {% assign is_number = item | plus: 0 %}

    {% if item == "" or is_number > 0 %}
      {% continue %}
    {% endif %}
    {% assign item_slug = item | slugify %}
    <li class="display-inline-block line-height-mono-6">
      <a
        class="padding-right-1 padding-y-05 text-no-underline text-no-wrap font-sans-lg"
        href="{{ site.baseurl }}{{ item_basepath }}/{{ item_slug }}"
      >
        <span class="usa-tag {{ bg_color_class | default: '' }} font-sans-md">
          {{ item }}
        </span>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
