{% comment %} This tagline will appear in your homepage {% endcomment %}

<section class="bg-accent-warm-lightest">
  <div class="hero-wrap">
    <div class="grid-container usa-section hero-content">
      <div class="grid-row grid-gap">
        <div class="grid-col-12 hero-callout border">
          <div class="padding-6">
          <h1 class="text-base-darkest line-height-sans-1 font-sans-3xl margin-bottom-1">
            From Drafting the ADA to Today
          </h1>
          <p class="font-sans-lg text-ink usa-prose">
            NCD has a proud history. In 1986, NCD recommended enactment of an
            Americans with Disabilities Act, and then drafted the first version
            of the bill introduce in the House and Senate in 1988. Since enactment
            of the ADA in 1990, NCD has continued to play a leading role in
            addressing the concerns of people with disabilities by advising
            public policy.
          </p>
          <div class="padding-y-4">
            <a class="usa-button usa-button--big" href="{{ site.baseurl }}/about-us">
              Learn more about our history
            </a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
