{% comment %} This tagline will appear in your homepage {% endcomment %}

<section class="bg-accent-warm-lightest hero-section padding-y-9">
  <div class="grid-container usa-section padding-y-4 margin-y-4">
    <div class="grid-row grid-gap padding-x-2 padding-y-3 hero-callout">
      <div class="tablet:grid-col-5">
        <h1 class="text-base-darkest line-height-sans-1 font-sans-3xl margin-0">
          From Drafting the ADA to Today
        </h1>
        <div class="padding-y-4">
          <a href="{{ site.baseurl }}/about">
            <button class="usa-button usa-button--big">Learn more</button>
          </a>
        </div>
      </div>
      <div class="tablet:grid-col-7 font-sans-lg text-ink usa-prose">

        <p>
          NCD has a proud history. In 1986, NCD recommended enactment of an
          Americans with Disabilities Act, and then drafted the first version
          of the bill introduce in the House and Senate in 1988. Since enactment
          of the ADA in 1990, NCD has continued to play a leading role in
          addressing the concerns of people with disabilities by advising
          public policy.
        </p>
      </div>
    </div>
  </div>
</section>
