{% comment %} This tagline will appear in your homepage {% endcomment %}

<section class="bg-accent-warm-lightest">
  <div class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4">
        <h1 class="section-heading">
          From Drafting the ADA to Today
        </h1>
        <div class="padding-y-4">
          <a href="{{ site.baseurl }}/about">
            <button class="usa-button usa-button--big">Learn more</button>
          </a>
        </div>
      </div>
      <div class="tablet:grid-col-8 font-serif-md text-base-dark usa-prose">
        
        <div class="crt-landing--section crt-landing--hero crt-white">
  <span class="display-none tablet:display-inline" role="img" aria-label="Five people, two with visible disabilities, meeting Vice President Bush."></span>
  <img alt="'Five people, some with visible disabilities, hanging out on a rooftop deck while talking and laughing.'" class="height-auto width-full tablet:display-none" integrity="sha512-WWd1IM/KXsGuA1TZGykdNowHl5DBGHoI8/+sO6y7D80mLW4ESC2I+oki+VdNkwzdwToEHku6C2Z43NpdbBWSRw==" crossorigin="anonymous" src="/assets/hero-mobile-59677520cfca5ec1ae0354d91b291d368c079790c1187a08f3ffac3bacbb0fcd262d6e04482d88fa8922f9574d930cddc13a041e4bba0b6678dcda5d6c159247.jpg">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-6">
        <h1 class="pa11y-skip">
          The Americans with Disabilities Act (ADA) protects people with disabilities from discrimination.
        </h1>
      <div aria-hidden="true" class="tablet:grid-col-2 desktop:display-none"></div>
        <div class="crt-landing--separator"></div>
        <p class="crt-landing--largetext pa11y-skip">
          Disability rights are civil rights. From voting to parking, the ADA is a law that protects people with disabilities in many areas of public life.
        </p>
      </div>
    </div>
  </div>
</div>![image-title-here](images/photos/NCD-Bush-Toward-Independence.jpg){:class="img-responsive"}
        <p>
          NCD has a proud history. In 1986, NCD recommended enactment of an 
          Americans with Disabilities Act, and then drafted the first version 
          of the bill introduce in the House and Senate in 1988. Since enactment 
          of the ADA in 1990, NCD has continued to play a leading role in 
          addressing the concerns of people with disabilities by advising
          public policy.
        </p>
      </div>
    </div>
  </div>
</section>
