{% assign file_type = include.video_url | split: "." | last %}

{% if file_type == "mp4" %}
    {% assign type = "video/mp4" %}
{% elsif file_type == "webm" %}
    {% assign type = "video/webm" %}
{% else %}
    {% assign type = "video/youtube" %}
{% endif %}

{% if type == "video/youtube" %}
    {% assign poster = "" %}
{% else %}
    {% assign poster = site.baseurl | append "/assets/images/ncd-logo.png" %}
{% endif %}

<video
    id="my-player"
    class="video-js vjs-default-skin vjs-fluid"
    controls
    fluid
    {% if type != "video/youtube" %}
        poster="{{ site.baseurl }}/assets/images/ncd-logo.png"
    {% endif %}
    preload="auto"
    data-setup='{ "sources": [{ "type": "{{ type }}", "src": "{{ include.video_url }}"}] }'>
</video>
