{% assign file_type = include.video_url | split: "." | last %}

{% assign player_id = include.video_url | escape | slugify %}

{% if file_type == "mp4" %}
    {% assign type = "video/mp4" %}
{% elsif file_type == "webm" %}
    {% assign type = "video/webm" %}
{% else %}
    {% assign type = "video/youtube" %}
{% endif %}

{% if type == "video/youtube" %}
    {% assign poster = "" %}
{% else %}
    {% assign poster = site.baseurl | append "/assets/images/ncd-logo.png" %}
{% endif %}

<video
    id="{{ player_id }}"
    class="video-js vjs-default-skin vjs-fluid"
    controls
    fluid
    {% if type != "video/youtube" %}
        poster="{{ site.baseurl }}/assets/images/ncd-logo.png"
    {% endif %}
    preload="auto"
    data-setup='{ "sources": [{ "type": "{{ type }}", "src": "{{ include.video_url }}"}] }'>
    {% if include.video_caption_track && include.video_caption_track != '' && include.video_caption_track != nil %}
        <track kind="captions" src="{{ site.baseurl }}{{include.video_caption_track}}" srclang="en" label="English" default>
    {% endif %}
</video>
