---
layout: post
title: NCD submits testimony for hearing on voter verification
collection_name: newsroom
date: 2004-06-21
policy_areas:
  - Civil Rights
document: documents/ncd-testimony-hearing-voter-verification-2004.pdf
---
June 21, 2004

N﻿CD submitted the following written testimony for a U. S. Senate Committee on Rules and Administration Hearing on Voter Verification in the Federal Elections Process.

June 21, 2004, 10:00 a.m., 301 Russell Senate Office Building

The National Council on Disability (NCD) is an independent federal agency that advises the President and Congress on issues affecting 54 million Americans with physical and mental disabilities. NCD's fundamental purpose is to promote policies, programs, practices, and procedures that guarantee equal opportunity for all individuals with disabilities, regardless of the nature or severity of the disability; and to empower individuals with disabilities to achieve competitive employment, economic self-sufficiency, independent living, inclusion, and integration into all aspects of society.

For many years, NCD has published reports and recommendations focused on ensuring equal voting access for people with vision, hearing, intellectual, physical, language, and technology needs. NCD has recognized that few attributes of citizenship can be more important than the right to vote. Excerpted below are sections of NCD's previous reports and correspondence expressing its views and recommendations on accessible voting:

* Letters to The Editor of The New York Times June 21, 2004:

The New York Times Editorial of June 11, 2004, "Making Votes Count: The Disability Lobby and Voting," has prompted the National Council on Disability (NCD) to write this letter in response . . . .NCD is concerned that the fundamental right of people with disabilities to cast an accessible vote has been pitted against the need to ensure security and reliability in the voting process. Accessibility, security, and reliability are not mutually exclusive and should not be portrayed by the media as being in competition with one another. It is the responsibility of a democratic government to both provide every citizen the opportunity to cast a private and accessible vote, and ensure the integrity of the voting process,-not one or the other. It is regrettable that select counties and states have made the decision to remove accessible voting machines. The effect of this action is that people with disabilities and others who benefit from electronic voting machines find themselves, once again, on the outside of the mainstream of society and stripped of their ability to participate in one of the hallmarks of a democratic society-the right to vote independently, and privately, in public elections. As we continually work to improve and perfect the voting process overall, we must remember that access to voting is not merely one consideration; it is a constitutional right.

* National Disability Policy: A Progress Report December 2002-December 2003

For people with disabilities, the right to vote privately and safely requires more than a statute. It requires facilities that are accessible and voting machines that are independently usable. HAVA established for the first time a national commitment and the right to these opportunities . . . One issue that has emerged as an area of increasing concern is the verifiability of the vote totals reported by touchscreen or other so-called direct recording equipment (DRE) voting machines . . . NCD does insist . . . that no changes be made that would compromise or jeopardize the levels of accessibility and independent voting mandated in HAVA.

* National Disability Policy: A Progress Report December 2001-December 2002

NCD congratulates all those involved in enactment of the Help America Vote Act of 2002. Among its reforms, the new law provides authorization for funding to assist states in creating accessible polling places and requires installation of at least one accessible voting machine in each precinct . . . .To provide a baseline for evaluating the success of the Act in enfranchising Americans with disabilities, NCD recommends that the Administration (through the voluntary oversight commission created by the statute, in combination with DOJ, the Federal Elections Commission, HHS or such other entity as may have the resources and the jurisdiction to be of assistance) undertake research during and after the 2004 election campaign aimed at determining whether or not significant numbers of voters with disabilities who might not otherwise have been able to vote were facilitated in doing so by the law, and whether or not significant numbers of persons with disabilities who could not previously do so were enabled to exercise the right of a secret ballot.

* National Disability Policy: A Progress Report December 2000--December 2001

A year ago, NCD urged adoption of amendments to the Voting Accessibility for the Elderly and Handicapped Act. These recommended amendments provided that all polling methods used in federal elections, including voter registration, be accessible to voters with disabilities and voters who are elderly . . . .As anecdotes and surveys have made clear, many Americans with disabilities face obstacles in voting far greater than confusing instructions or malfunctioning machines. Some are able to vote only with difficulties that would be intolerable to other citizens or by forfeiting the fundamental protection of the secret ballot, and some are unable to vote at all, solely by reason of the interplay between their disabilities and the arrangements for voting we have thus far made.

* Inclusive Federal Election Reform National Council on Disability March 15, 2001

  \*14 million people of voting age who have a disability are unregistered voters

  \*People with disabilities vote at a rate 11 percent lower than the general population

  \*81 percent of voters who are blind or have visual impairments rely on others to mark their ballots

  \*An estimated 20,000 of the nation's 170,000 polling places are inaccessible to voters who use wheelchairs

  \*1,231 of the 1,681 (73%) polling places in Philadelphia were physically inaccessible to voters with disabilities



One of the fundamental rights guaranteed to Americans is the right of voting through a secret ballot. However, this right is often denied to Americans with disabilities and other disenfranchised groups, such as senior citizens, people from diverse cultures, and those who have low incomes. Statistics show that for 35 million voting-aged citizens with disabilities:

These statistics highlight the need to improve voting procedures and systems. President George W. Bush's *New Freedom Initiative* contains proposals for improving access to polling places and ballot secrecy. Many proposals to reform the electoral process are currently before the 107 th Congress. Voting reform will certainly be considered and likely enacted in time to affect the 2002 elections. It is imperative that any voting reform law also provides full access for voters with disabilities, and allows for their private and independent voting.

NCD continues to strongly focus on full participation in the democratic process by all citizens. NCD respectfully suggests that the Senate Committee on Rules and Administration retain this focus with any examination of the Help America Vote Act of 2002
