---
layout: wide
---
<div class="grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
        {{ page.path }}
      {% assign page_title = page.autopages.display_name | append: ' ' |  append: 'Newsroom Posts' %}
      {%
        include collection-header.html
        title=page_title
        description="
          NCD publishes newsroom posts for with recommendations to the President, Congress
          and policymakers on national disability policy.
        "
      %}
    {% for post in paginator.posts %}
        {%
            include paginated-collection-item.html
            post=post
        %}
    {% endfor %}
      <!-- Pagination links -->
      {% include paginator.html %}    
    </div>

    {% assign is_number = page.autopages.display_name | plus: 0 %}

    {% if is_number > 0 %}
        {%
            include aside-collection-year-links.html
            title="Newsroom Posts By Year"
            limit=40
            path="newsroom"
            posts=site.posts
        %}
    {% endif %}
  </div>
</div>