---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1 class="title">{{page.title}}</h1>
        {% if page.author and page.author != nil and page.author != '' %}
        <div class="margin-bottom-2">
          <div class="margin-top-neg-105">
            <date class="text-ink font-sans-lg display-flex flex-row flex-align-center">
              <svg class="usa-icon margin-right-1" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{site.baseurl}}/assets/uswds/img/sprite.svg#calendar_today"></use>
              </svg>
              {{ page.date | date: '%A, %B %e, %Y' }}
            </date>
          </div>
          By <span class="text-bold">{{ page.author }}</span>
        </div>
        {% else %}
        <div class="margin-bottom-2">
          <div class="margin-top-neg-105">
            <date class="text-ink font-sans-lg display-flex flex-row flex-align-center">
              <svg class="usa-icon margin-right-1" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="{{site.baseurl}}/assets/uswds/img/sprite.svg#calendar_today"></use>
              </svg>
              {{ page.date | date: '%A, %B %e, %Y' }}
            </date>
          </div>
        </div>
        {% endif %}
        {% if page.image and page.image != nil and page.image != '' %}
        <div class="padding-bottom-2">
          <img
            class="width-mobile height-auto"
            src="{{ site.baseurl }}/assets/uploads/{{page.image}}"
            alt="{{page.image_alt_text}}"
          />
        </div>
        {% endif %}
        {% if page.categories %}
          {% include pill-links.html
            basepath=""
            bg_color_class="bg-secondary-dark"
            items=page.categories
          %}
        {% endif %}
        {% if page.policy_areas %}
          {% include pill-links.html
            basepath="/policy-areas"
            bg_color_class="bg-primary-dark"
            items=page.policy_areas
          %}
        {% endif %}
        {% if page.word_document or page.pdf_document %}
          <div class="padding-y-2">
            {% if page.word_document and page.word_document != nil and page.word_document != '' %}
              {% include download-file.html document_type="Word Doc" file_path=page.word_document %}
            {% endif %}
            {% if page.pdf_document and page.pdf_document != nil and page.pdf_document != '' %}
              {% include download-file.html document_type="PDF" file_path=page.pdf_document %}
            {% endif %}
          </div>
        {% endif %}
        {% if page.agenda or page.minutes or page.federal_register_notice %}
          <div class="padding-y-2">
            {% if page.press_release %}
              <div>
                <div class="display-flex flex-row flex-align-center">
                  <a
                    class="display-flex flex-row flex-align-center text-bold text-no-underline"
                    href="{{page.press_release}}"
                  >
                    Press Release
                    <svg class="usa-icon margin-left-1" aria-hidden="true" role="img">
                      <use xlink:href="{{ site.baseurl }}/assets/uswds/img/sprite.svg#info_outline"></use>
                    </svg>
                  </a>
                </div>
              </div>
            {% endif %}
            {% if page.federal_register_notice and page.federal_register_notice != nil and page.federal_register_notice != '' %}
              <div>
                <div class="display-flex flex-row flex-align-center">
                  <a
                    class="display-flex flex-row flex-align-center text-bold text-no-underline"
                    href="{{page.federal_register_notice}}"
                  >
                    Federal Register Notice
                    <svg class="usa-icon margin-left-1" aria-hidden="true" role="img">
                      <use xlink:href="{{ site.baseurl }}/assets/uswds/img/sprite.svg#launch"></use>
                    </svg>
                  </a>
                </div>
              </div>
            {% endif %}
            {% if page.agenda and page.agenda != nil and page.agenda != '' %}
              {% include download-file.html document_type="Agenda" file_path=page.agenda %}
            {% endif %}
            {% if page.minutes and page.minutes != nil and page.minutes != '' %}
              {% include download-file.html document_type="Minutes" file_path=page.minutes %}
            {% endif %}
          </div>
        {% endif %}
        {% if page.misc_files_1 and page.misc_files_1 != nil and page.misc_files_1 != ''%}
          <div>
            {% include download-file.html document_type="File" doc_name=page.misc_files_1 file_path=page.misc_files_1 %}
          </div>
        {% endif %}
        {% if page.misc_files_2 and page.misc_files_2 != nil and page.misc_files_2 != ''%}
          <div>
            {% include download-file.html document_type="File" doc_name=page.misc_files_2 file_path=page.misc_files_2 %}
          </div>
        {% endif %}
        {% if page.misc_files_3 and page.misc_files_3 != nil and page.misc_files_3 != ''%}
          <div>
            {% include download-file.html document_type="File" doc_name=page.misc_files_3 file_path=page.misc_files_3 %}
          </div>
        {% endif %}
        {% if page.video_url and page.video_url != nil and page.video_url != '' %}
          <div class="padding-y-2">
            {% include video/player.html video_url=page.video_url %}
          </div>
        {% endif %}
        {{ content }}
      </div>
    </div>
  </div>
</div>
