---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1 class="title">{{page.title}}</h1>
        {% if page.image %}
        <div class="padding-bottom-2">
          <img
            class="width-mobile height-auto"
            src="{% asset {{page.image}} @path %}"
            alt="{{page.image_alt_text}}"
          />
        </div>
        {% endif %}
        <div class="text-base margin-bottom-2">
          <div class="margin-top-neg-105">
            By <span class="text-bold">{{ page.author }}</span> · {{ page.date | date: '%B %d, %Y' }}
          </div>
        </div>
        {% if page.categories %}
          {% include pill-links.html
            basepath=""
            bg_color_class="bg-secondary-dark"
            items=page.categories
          %}
        {% endif %}
        {% if page.policy_areas %}
          {% include pill-links.html
            basepath="/policy-areas"
            bg_color_class="bg-primary-dark"
            items=page.policy_areas
          %}
        {% endif %}
        {% if page.word_document or page.pdf_document %}
          <div class="padding-y-2">
            {% if page.word_document %}
              {% include download-file.html document_type="Word Doc" file_path=page.word_document %}
            {% endif %}
            {% if page.pdf_document %}
              {% include download-file.html document_type="PDF" file_path=page.pdf_document %}
            {% endif %}
          </div>
        {% endif %}
        {% if page.agenda or page.minutes or page.federal_register_notice %}
          <div class="padding-y-2">
            {% if page.federal_register_notice %}
              <div>
                <div class="display-flex flex-row flex-align-center">
                  <a
                    class="display-flex flex-row flex-align-center text-bold text-no-underline"
                    href="{{page.federal_register_notice}}"
                  >
                    Federal Register Notice
                    <svg class="usa-icon margin-left-1" aria-hidden="true" role="img">
                      <use xlink:href="{% asset img/sprite.svg @path %}#launch"></use>
                    </svg>
                  </a>
                </div>
              </div>
            {% endif %}
            {% if page.agenda %}
              {% include download-file.html document_type="Agenda" file_path=page.agenda %}
            {% endif %}
            {% if page.minutes %}
              {% include download-file.html document_type="Minutes" file_path=page.minutes %}
            {% endif %}
          </div>
        {% endif %}
        {{ content }}
      </div>
    </div>
  </div>
</div>
