---
layout: wide
---

<div class="grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      {%
        include collection-header.html
        title=page.title
        description=page.description
      %}

      {% if page.video_url and page.video_url != nil and page.video_url != '' %}
        <div class="padding-y-2">
          {% include video/player.html video_url=page.video_url %}
        </div>
      {% endif %}

      {{ content }}
    </div>
    {%
      include aside-page-links.html
      title="Popular Resources"
      limit=10
      items=site.data.widgets.resources
    %}
  </div>
</div>
