---
layout: wide
permalink: /committees-communities/
pagination:
  enabled: true
  collection: committees-communities
---

<div class="grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      {%
        include collection-header.html
        title="Committees & Communities"
        description="
          NCD Council Members serve on several committees
          working to help further the advancement of policy.
        "
      %}
      {% for post in paginator.posts %}
        {%
          include paginated-collection-item.html
          post=post
        %}
      {% endfor %}
      <!-- Pagination links -->
      {% include paginator.html %}
    </div>
    {%
      include aside-page-links.html
      title="Committee Resources"
      items=site.committees-communities
    %}
  </div>
</div>
