---
layout: wide
permalink: /publications/
pagination:
  enabled: true
  collection: publications
---

<div class="grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      {%
        include collection-header.html
        title="Publications"
        description="
          NCD publications and policy briefs contain data and provide recommendations to the Administration,
          Congress, and executive branch agencies on the broad spectrum of issues that affect people with
          disabilities. Data provides basis for effective cross-government and public-private collaboration
          on issues affecting people with disabilities.
        "
      %}
      {% for post in paginator.posts %}
        {%
          include paginated-collection-item.html
          post=post
        %}
      {% endfor %}
      <!-- Pagination links -->
      {% include paginator.html %}
    </div>
    {%
      include aside-page-links.html
      title="Publications By Year"
      items=site.publications
    %}
  </div>
</div>
